.icon {
    max-width: 30px;
}

.shop-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    /* add farm background */
}

.shop-btn {
    border: none;
}


.shop-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    gap: 20px;
    padding: 20px;
    background: #8b5e3c;
    border-radius: 16px;
    width: 60vw;
}

.shop-card {
    background-color: #eee;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.shop-card img {
    width: 160px;
    height: auto;
}

.empty-slot {
    background-color: #c3c3c3;
    border-radius: 12px;
}

.price-container {
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin: 5px 20px;
    gap: 6px;
    width: 100%;
    padding: 5px;
}