.stats-section {
    background-color: #F5F5F5;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    max-width: 1280px;
    margin: 0 auto;
    border-radius: 8px;
    position: relative;
    padding: 1em 0 3em
}

.stats-section h2 {
    padding: 1em 1.5em 0.5em;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 700px);
    gap: 20px;
    border-radius: 16px;
    width: 50vw;
    margin: 0 auto;
}

.stats-card {
    background-color: #eee;
    border-radius: 12px;
    padding: 1em 1.5em;
}